<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.CodeCoverage" version="18.5.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Json" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.NET.Test.Sdk" version="18.5.1" targetFramework="net481" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.0.1" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform" version="2.1.0" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.1.0" targetFramework="net481" />
  <package id="NUnit3TestAdapter" version="6.2.0" targetFramework="net481" />
  <package id="Selenium.WebDriver.ChromeDriver" version="147.0.7727.11700" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="11.0.0-preview.3.26207.106" targetFramework="net481" />
  <package id="NUnit" version="4.5.1" targetFramework="net481" />
  <package id="Selenium.Support" version="4.43.0" targetFramework="net481" />
  <package id="Selenium.WebDriver" version="4.43.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net481" />
</packages>